*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	width: 100%;
	height: 100vh;
	background-image: url(./img/MacBook\ Pro\ 14_\ -\ 1.png);
	background-size: cover;
	background-position: end;
}

.container {
	max-width: 1168px;
	margin: 0px auto;
	padding: 0 20px;
}

.header-body{
	width: 100%;
	height: 16vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_list{
	display: flex;
}

li{
	list-style: none;
}

.header_link{
	margin: 0px 30px 0px 0px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 138%;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
}

.color:hover{
	color:#F7859C;
}

.help{
	color: #fff;
	background-color: #F7859C;
	padding: 8px 20px;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

.help:hover{
	box-shadow: 0px 0px 10px #F7859C;
	position: relative;
	bottom: 1px;
	transition: all 0.3s ease 0s;
}

a{
	text-decoration: none;
}

.main_page {
}
.container {
}
.main-page_part1 {
}
.peopleimg {
}
.main-page_part2 {
}
.nft-collection {
}
.title {
}
.sub-title {
}
.openSea {
}
.main-page_part3 {
}
.peopleimg2 {
}

@media(max-width: 840px){
	.wrap{
		background-position: center;
	}
}

@media(max-width: 630px){
	.header_list{
		height: 15vh;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}

	.help{
		margin: 10px 0px 0px 0px;
	}

	.header_link{
		margin: 0px 30px 0px 0px;
	}

}

