*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	width: 100%;
	height: 100vh;
	background-image: url(./img/MacBook\ Pro\ 14_\ -\ 1.png);
	background-size: cover;
	background-position: end;
}

.container {
	max-width: 1168px;
	margin: 0px auto;
	padding: 0 20px;
}

.header-body{
	width: 100%;
	height: 16vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_list{
	display: flex;
}

li{
	list-style: none;
}

.header_link{
	margin: 0px 30px 0px 0px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 138%;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
}

.color:hover{
	color:#F7859C;
}

.help{
	color: #fff;
	background-color: #F7859C;
	padding: 8px 20px;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

.help:hover{
	box-shadow: 0px 0px 10px #F7859C;
	position: relative;
	bottom: 1px;
	transition: all 0.3s ease 0s;
}

a{
	text-decoration: none;
}

.main_page {
	display: flex;
	align-items: flex-end;
	height: 80vh;
}

.main-page_body{
	display: flex;
	justify-content: space-between;
}

.main-page_part1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.peopleimg {
	width: 300px;
	margin: 0px 70px 0px 0px;
}
.main-page_part2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nft-collection {
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 138%;
	letter-spacing: 0em;
	text-align: center;
}
.title {
	font-family: Montserrat;
font-size: 60px;
font-weight: 700;
line-height: 106%;
letter-spacing: 0em;
text-align: center;
	margin: 5px 0px 0px 0px;
}
.sub-title {
	width: 400px;
	font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 178%;
letter-spacing: 0em;
text-align: center;
	margin: 20px 0px 0px 0px;
}
.openSea {
	background-color: #F7859C;
	color: #fff;
	border: none;
	padding: 10px 30px;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 138%;
	letter-spacing: 0em;
	text-align: center;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	margin: 10px 0px 0px 0px;
}

.openSea:hover{
	box-shadow: 0px 0px 10px #F7859C;
	position: relative;
	bottom: 1px;
	transition: all 0.3s ease 0s;
}

.peopleimg2 {
	width: 300px;
	margin: 0px 0px 0px 70px;
}






.collection-page {
	width: 100%;
	height: 110vh;
}

.collection-page_body {
	width: 100%;
	height: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.collection-page_part1 {
	margin: 60px 0px 0px 0px;
}
.collection-sub-title {
	display: flex;
	align-items: flex-end;
	text-align: center;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 138%;
	letter-spacing: 0em;
	background-color: orange;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 40%;
	margin-bottom: 5px;
}
.collection-title {
	font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 89%;
letter-spacing: 0em;
text-align: center;

}
.collection-page_part2 {
	display: flex;
	justify-content: space-around;
	margin: 50px 0px 0px 0px;
}
.text_left-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sub-text {
	width: 50%;
	font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 138%;
letter-spacing: 0em;
text-align: left;
	margin: 10px 0;
	position: relative;
	left: 0;
	transition: all 0.5s ease 0s;
}

.sub-text:hover{
	position: relative;
	left: 5px;
	transition: all 0.5s ease 0s;
}

.img_right-part {
	width: 450px;
}
hr{
	width: 60%;
}
.main-text{
	font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 91%;
letter-spacing: 0em;
text-align: left;
	margin: 20px 0px 0px 0px;
}

.wave, .wave2{
	width: 100%;
}




.exclusive_content-page{
	width: 100%;
	min-height: 100vh;
	background-color: #FBF1E6;
}



@media(max-width: 1180px){
	.peopleimg{
		width: 200px;
	}
	.peopleimg2{
		width: 200px;
	}
}

@media(max-width:980px){
	.peopleimg{
		width: 200px;
		margin: 0;
	}
	.peopleimg2{
		width: 200px;
		margin: 0;
	}
	.img_right-part {
		width: 350px;
		height: 350px;
	}
	.sub-text{
		font-size: 14px;
	}
}

@media(max-width: 840px){
	.wrap{
		background-position: center;
	}
	.main_page{
		align-items: center;
	}
	.title{
		font-size: 30px;
	}
	.nft-collection{
		font-size: 14px;
	}
	.sub-title{
		width: 200px;
	}
	.sub-text{
		font-size: 12px;
	}
}

@media(max-width: 630px){
	.header_list{
		height: 15vh;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}

	.help{
		margin: 10px 0px 0px 0px;
	}

	.header_link{
		margin: 0px 30px 0px 0px;
	}
	.peopleimg, .peopleimg2{
		display:none;
	}
	.nft-collection{
		font-size: 16px;
	}
	.title{
		font-size: 50px;
	}
	.sub-title{
		width: 100%;
	}
	.openSea{
		margin: 20px 0px 0px 0px;
	}
	.collection-page_part2{
		flex-direction: column;
		align-items: center;
	}
	.text_left-part{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.sub-text{
		text-align: center;
	}
	.img_right-part {
		width: 300px;
		height: 300px;
		margin: 30px 0px 0px 0px;
	}


}
@media(max-width: 360px){
	.collection-sub-title{
		margin-left: 30%;
	}
	.img_right-part{
		width: 200px;
		height: 200px;
		margin: 10px 0px 0px 0px;
	}
}
